<div
  class="flex min-h-full flex-col items-center justify-center bg-white md:bg-gray-50"
>
  <div
    class="mb-6 flex max-w-5xl flex-col rounded-md bg-white p-12 md:m-12 md:mb-6 md:shadow-xl lg:m-24 lg:mb-6"
  >
    <div class="mb-12 text-center text-3xl font-semibold text-gray-800">
      Registration options
    </div>
    <div class="flex flex-col md:flex-row">
      <div
        class="flex w-full flex-col justify-between gap-6 border-b pb-12 md:w-1/2 md:border-b-0 md:border-r md:pb-0 md:pr-12"
      >
        <div class="text-2xl font-medium text-gray-800">
          1. Galaxy Australia
        </div>
        <div class="mb-6 font-light text-gray-500">
          Get free access to many free web-based bioinformatics tools and
          workflows.
        </div>
        <app-button
          type="button"
          variant="secondary"
          colorClasses="text-blue-800 focus-visible:ring-blue-800"
          [routerLink]="['standard-access']"
        >
          Continue
        </app-button>
      </div>
      <div
        class="flex w-full flex-col justify-between gap-6 pt-12 md:w-1/2 md:pl-12 md:pt-0"
      >
        <div class="text-2xl font-medium text-gray-800">
          2. Galaxy Australia Service Bundles
        </div>
        <div class="mb-6 font-light text-gray-500">
          Request access to service bundles. These give you access to online
          bioinformatics data analysis services like Galaxy Australia,
          community-designed resources, and the Bioplatforms Australia Data
          Portal, all accessible via a single login.
        </div>
        <app-button
          type="button"
          variant="primary"
          colorClasses="bg-blue-800 hover:bg-blue-900 focus-visible:ring-blue-800"
          [routerLink]="['bundle-access']"
        >
          Continue
        </app-button>
      </div>
    </div>
  </div>
  <div class="mx-12 font-light text-gray-500">
    Already have an account?
    <a
      class="font-medium text-blue-600 hover:text-blue-700"
      href="https://galaxy.test.biocommons.org.au/"
    >
      Return to Galaxy
    </a>
    and log in
  </div>
</div>
