<nav
  class="flex items-center justify-between gap-4 border-b border-gray-200 bg-white px-6 py-6 sm:px-12"
>
  <a href="https://dev.portal.aai.test.biocommons.org.au/">
    <img
      src="/assets/biocommons-logo.png"
      class="auto h-16 min-w-44"
      alt="Australian Biocommons Logo"
    />
  </a>
  <div
    class="flex flex-wrap justify-end gap-6 text-biocommons-primary [&>a:hover]:text-sky-900"
  >
    <a href="https://www.biocommons.org.au/about">About</a>
    <a href="https://www.biocommons.org.au/">FAQ</a>
    <a href="https://www.biocommons.org.au/contact-form">Contact us</a>
  </div>
</nav>
