<nav
  class="flex flex-col gap-4 border-b border-gray-100 bg-white px-6 py-6 sm:px-12 md:flex-row md:items-center md:justify-between"
>
  <a routerLink="/">
    <img
      src="/assets/biocommons-logo.png"
      class="auto h-16 min-w-44"
      alt="Australian Biocommons Logo"
    />
  </a>
  <div
    class="flex flex-1 items-center justify-center text-3xl font-semibold text-gray-900"
  >
    Create an account
  </div>
  <div
    class="flex flex-wrap justify-end gap-6 text-sm text-biocommons-primary sm:gap-12 sm:text-base [&>a:hover]:text-sky-900"
  >
    <a href="https://www.biocommons.org.au/about">About</a>
    <a href="https://www.biocommons.org.au/contact-form">Contact us</a>
  </div>
</nav>
