<div
  class="mx-auto flex h-full max-w-6xl flex-1 flex-col items-center justify-center gap-12 px-12 text-center"
>
  <div class="text-4xl font-semibold text-gray-900 sm:text-5xl lg:text-6xl">
    Thank you
  </div>
  <div class="font-light text-gray-900">
    You will receive an email notification once your access request has been
    approved.
  </div>
  <app-button
    type="button"
    variant="primary"
    widthClass="w-auto"
    (click)="navigateToSBP()"
  >
    Return to Structural Biology Platform
  </app-button>
</div>
