<div
  class="mx-auto flex h-full max-w-6xl flex-1 flex-col items-center justify-center gap-12 px-12 text-center sm:px-24"
>
  <div class="text-4xl font-semibold text-gray-900 sm:text-5xl lg:text-6xl">
    Thank you for registering with the Structural Biology Platform
  </div>
  <div class="font-light text-gray-500">
    Please check your email and verify your email address. Your request has been
    sent to an administrator for approval.
  </div>
  <app-button
    type="button"
    variant="primary"
    widthClass="w-auto"
    (click)="navigateToSBP()"
  >
    Return to Structural Biology Platform
  </app-button>
</div>
