@if (alert()) {
  <app-alert
    [type]="alert()!.type"
    [message]="alert()!.message"
    [dismissible]="true"
    (dismissed)="alert.set(null)"
  ></app-alert>
}

<!-- Revoke Modal -->
@if (showRevokeModal()) {
  <app-modal
    [title]="'Do you want to revoke ' + selectedUserForRevoke()!.email + '?'"
    type="revoke"
    [textareaControl]="revokeReasonControl"
    [textareaLabel]="'Revocation reason'"
    primaryButtonText="Yes"
    secondaryButtonText="No"
    (primaryOutput)="confirmRevokePlatformAccess()"
    (secondaryOutput)="closeRevokeModal()"
  />
}

<div
  class="relative flex flex-1 grow flex-col gap-12 p-6 md:p-12 lg:px-24 xl:px-48"
>
  <div
    class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between"
  >
    <!-- Search bar -->
    <div class="w-full md:w-2/3">
      <label
        for="search-input"
        class="mb-1 block text-sm font-medium text-gray-900"
      >
        Search
      </label>
      <div
        class="flex h-12 w-full flex-1 items-center justify-between rounded-md bg-white py-2 pl-4 pr-2 font-light shadow focus-within:ring-2 focus-within:ring-blue-100"
      >
        <input
          id="search-input"
          class="flex-1 focus:outline-none"
          type="text"
          placeholder="By name or email address"
          [(ngModel)]="searchTerm"
          (input)="onSearchInput()"
          (keydown.enter)="loadUsers()"
        />
        <button
          type="button"
          class="rounded-full p-2 transition-all hover:bg-gray-200"
          (click)="loadUsers()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="size-4 text-biocommons-primary"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <!-- Filter dropdown -->
    <div class="w-full md:w-1/3">
      <label
        for="filter-select"
        class="mb-1 block text-sm font-medium text-gray-900"
      >
        Filter by user group
      </label>
      <select
        id="filter-select"
        class="h-12 w-full rounded-md border-r-8 border-transparent bg-white px-4 py-3 font-light shadow outline-gray-200 focus-within:ring-2 focus-within:ring-blue-100 hover:cursor-pointer"
        [(ngModel)]="selectedFilter"
        (change)="onFilterChange()"
        [disabled]="loading()"
      >
        <option value="">All</option>
        @for (option of filterOptions(); track option.id) {
          <option [value]="option.id">{{ option.name }}</option>
        }
      </select>
    </div>
  </div>

  <div class="flex flex-1 flex-col">
    <div class="text-3xl font-semibold text-gray-900">{{ title() }}</div>

    <!-- List header -->
    <div
      class="mb-2 mt-6 flex items-center px-4 text-sm font-medium text-gray-900"
    >
      <div class="w-5/12 flex-1">
        Total:
        <span class="font-light text-gray-500">{{ users().length }} users</span>
      </div>
      <div class="w-3/12">Bundles</div>
      <div class="w-3/12">Platform Access</div>
      <div class="w-1/12"></div>
    </div>
    @if (loading()) {
      <div class="flex w-full flex-1 items-center justify-center">
        <app-loading-spinner />
      </div>
    } @else {
      <div class="flex flex-1 flex-col gap-4">
        @if (users().length === 0) {
          <div class="flex flex-1 items-center justify-center text-gray-900">
            No users found
          </div>
        } @else {
          <!-- List items -->
          @for (user of users(); track user.id) {
            <div
              class="flex items-center rounded-md bg-white p-4 font-normal shadow"
            >
              <div class="w-5/12 flex-1 truncate">
                {{ user.email }}
              </div>
              <div class="flex w-3/12 flex-wrap gap-2">
                @if (user.group_memberships.length > 0) {
                  @for (group of user.group_memberships; track group.id) {
                    <span
                      class="rounded-md border px-2 py-0.5 text-sm font-medium"
                      [ngClass]="{
                        'border-green-600 bg-green-50 text-green-700':
                          group.approval_status === 'approved',
                        'border-yellow-600 bg-yellow-50 text-yellow-800':
                          group.approval_status === 'pending',
                        'border-red-600 bg-red-50 text-red-700':
                          group.approval_status === 'revoked',
                      }"
                    >
                      {{ group.group_short_name }}
                    </span>
                  }
                } @else {
                  None
                }
              </div>
              <div class="w-3/12">
                <!-- TODO: Update this logic to only show platform specific access (BPA admin sees BPA platform access, etc.) once platform admins role handling is implemented -->
                @if (user.platform_memberships.length > 0) {
                  @for (
                    platform of user.platform_memberships;
                    track platform.id
                  ) {
                    <div
                      class="flex items-center gap-2 text-sm font-medium"
                      [ngClass]="{
                        'text-green-500':
                          platform.approval_status === 'approved',
                        'text-yellow-500':
                          platform.approval_status === 'pending',
                        'text-red-500': platform.approval_status === 'revoked',
                      }"
                    >
                      <span class="truncate">
                        {{ platform.platform_name }}
                      </span>
                      @if (platform.approval_status === "revoked") {
                        <div class="group relative inline-block">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="size-5 min-h-5 min-w-5 transition-all hover:cursor-pointer hover:text-red-600"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                              clip-rule="evenodd"
                            />
                          </svg>

                          <!-- Tooltip -->
                          <div
                            class="absolute left-1/2 top-full z-50 hidden w-max max-w-40 -translate-x-1/2 translate-y-2 rounded-md bg-gray-900 px-3 py-2 text-sm text-white opacity-0 shadow-lg transition-all group-hover:block group-hover:opacity-90 lg:max-w-64"
                          >
                            {{ platform.revocation_reason || "Revoked" }}
                            <div
                              class="absolute left-1/2 top-0 h-2 w-2 -translate-x-1/2 -translate-y-1 rotate-45 bg-gray-900 placeholder-opacity-90"
                            ></div>
                          </div>
                        </div>
                      }
                    </div>
                  }
                }
              </div>
              <div class="relative flex w-1/12 justify-end">
                <!-- Ellipsis menu -->
                <button
                  type="button"
                  class="user-menu-button rounded-full p-1 transition-all hover:bg-gray-200"
                  (click)="toggleUserMenu(user.id, $event)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                    />
                  </svg>
                </button>
                @if (isMenuOpen(user.id)) {
                  <!-- User menu -->
                  <div
                    class="user-menu-dropdown absolute right-0 top-full z-10 mt-1 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                    role="menu"
                    aria-orientation="vertical"
                    tabindex="-1"
                  >
                    <div class="py-1">
                      <button
                        type="button"
                        (click)="navigateToUserDetails(user.id)"
                        class="flex w-full items-center justify-start gap-2 px-4 py-2 text-sm text-gray-700 transition-all hover:bg-gray-100 hover:text-gray-900"
                        role="menuitem"
                        tabindex="-1"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="size-5"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                          />
                        </svg>
                        View User Details
                      </button>
                      <!-- TODO: Update this logic to only show platform specific access (BPA admin sees BPA platform access, etc.) once platform admins role handling is implemented -->
                      @if (
                        user.platform_memberships[0].approval_status ===
                        "approved"
                      ) {
                        <button
                          type="button"
                          (click)="
                            openRevokeModal(
                              user.id,
                              user.email,
                              user.platform_memberships[0].platform_id
                            )
                          "
                          class="flex w-full items-center justify-start gap-2 px-4 py-2 text-sm text-gray-700 transition-all hover:bg-gray-100 hover:text-gray-900"
                          role="menuitem"
                          tabindex="-1"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-5"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                            />
                          </svg>
                          Revoke
                        </button>
                      }
                      @if (!user.email_verified) {
                        <button
                          type="button"
                          (click)="resendVerificationEmail(user.id)"
                          class="flex w-full items-center justify-start gap-2 px-4 py-2 text-sm text-gray-700 transition-all hover:bg-gray-100 hover:text-gray-900"
                          role="menuitem"
                          tabindex="-1"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="size-5"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07 1.916V6.75"
                            />
                          </svg>
                          Resend Verification Email
                        </button>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        }
      </div>
    }
  </div>
</div>
