@if (errorAlert()) {
  <app-alert
    type="error"
    [message]="errorAlert()!"
    [dismissible]="true"
    (dismissed)="errorAlert.set(null)"
  >
  </app-alert>
}

<div
  class="flex flex-1 flex-col items-center justify-center gap-12 p-6 md:p-12 md:px-24"
>
  <div class="flex w-full max-w-7xl flex-1 flex-col gap-12">
    <div class="space-y-6">
      <a
        routerLink="/profile"
        class="flex items-center gap-2 text-sm text-gray-600 transition-all hover:text-gray-700"
      >
        <ng-icon name="heroArrowLeft" size="16"></ng-icon>
        Back to Profile
      </a>
      <div class="flex items-center justify-start gap-3">
        <h2 class="text-left text-3xl font-semibold text-gray-900">
          Request a bundle
        </h2>
        <app-tooltip
          class="mt-2"
          message="Bundles are designed to make it easy for researchers to access sets of resources in one step, such as open and/or embargoed data, analysis tools and pipelines/workflows, and the ability to easily move data between both. You can find out more at: <a href='https://www.biocommons.org.au/access' target='_blank' rel='noopener noreferrer' class='text-sky-400 hover:text-sky-500'>https://www.biocommons.org.au/access</a>"
          iconColor="text-sky-500 hover:text-sky-600"
        />
      </div>
      <p class="text-left font-light text-gray-600">
        Request access to a bundle you need for your research
      </p>
    </div>
    @if (isLoading()) {
      <div class="flex flex-1 flex-col items-center justify-center gap-12">
        <app-loading-spinner></app-loading-spinner>
      </div>
    } @else {
      <app-bundle-selection [form]="bundleForm" [bundles]="bundles()">
      </app-bundle-selection>
      <div class="flex w-full justify-end">
        <app-button
          type="submit"
          variant="primary"
          (click)="submit()"
          [loading]="isSubmitting()"
          [disabled]="selected() === undefined || isSubmitting()"
        >
          Submit
        </app-button>
      </div>
    }
  </div>
</div>
