@if (errorAlert()) {
  <app-alert
    type="error"
    [message]="errorAlert()!"
    [dismissible]="true"
    (dismissed)="errorAlert.set(null)"
  >
  </app-alert>
}

<div
  class="flex flex-1 flex-col items-center justify-center gap-12 p-6 md:p-12 md:px-24"
>
  <div class="flex w-full max-w-7xl flex-1 flex-col gap-6">
    <a
      routerLink="/profile"
      class="flex items-center gap-2 text-sm text-gray-600 transition-all hover:text-gray-700"
    >
      <ng-icon name="heroArrowLeft" size="16"></ng-icon>
      Back to Profile
    </a>
    <h2 class="text-left text-3xl font-semibold text-gray-900">
      Request a bundle
    </h2>
    <p class="text-left font-light text-gray-600">
      Request access to a bundle you need for your research
    </p>
    <app-bundle-selection
      class="my-6"
      [form]="bundleForm"
      [bundles]="bundles()"
    >
    </app-bundle-selection>
    <div class="flex w-full justify-end">
      <app-button
        type="submit"
        variant="primary"
        (click)="submit()"
        [loading]="isSubmitting()"
        [disabled]="selected() === undefined || isSubmitting()"
      >
        Submit
      </app-button>
    </div>
  </div>
</div>
