<div class="group relative flex items-center">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 20 20"
    fill="currentColor"
    class="size-5 min-h-5 min-w-5 text-red-500 transition-all hover:cursor-pointer hover:text-red-600"
  >
    <path
      fill-rule="evenodd"
      d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
      clip-rule="evenodd"
    />
  </svg>

  <!-- Tooltip -->
  <div
    class="absolute left-1/2 top-full z-50 hidden w-max max-w-40 -translate-x-1/2 translate-y-2 whitespace-pre-line rounded-md bg-gray-900 px-3 py-2 text-sm text-white opacity-0 shadow-lg transition-all group-hover:block group-hover:opacity-90 sm:max-w-48 md:max-w-64 lg:max-w-72 xl:max-w-96"
  >
    {{ message() }}
    <div
      class="absolute left-1/2 top-0 h-2 w-2 -translate-x-1/2 -translate-y-1 rotate-45 bg-gray-900 placeholder-opacity-90"
    ></div>
  </div>
</div>
