<div class="flex h-full min-h-screen flex-col">
  @if (!router.url.includes("bundles")) {
    <nav class="items-center bg-galaxy-primary p-6 text-center">
      <a
        href="http://dev.gvl.org.au/"
        class="flex items-center justify-center gap-2"
      >
        <img
          class="h-10"
          src="https://usegalaxy.org.au/static/favicon.svg"
          width="auto"
          alt="Galaxy logo"
          loading="lazy"
        />
        <span class="mb-1 text-2xl font-bold text-white">Australia</span>
      </a>
    </nav>
  }
  <div class="h-full">
    <router-outlet />
  </div>
</div>
