<div class="flex h-full min-h-screen flex-col">
  @if (!router.url.includes("bundle-access")) {
    <nav
      class="flex items-center justify-start bg-galaxy-primary px-2 pb-0.5 pt-1"
    >
      <a
        href="http://dev.gvl.org.au/"
        class="flex items-center justify-center gap-4"
      >
        <img
          class="mt-0.5 h-8 w-auto"
          src="https://usegalaxy.org.au/static/favicon.svg"
          width="auto"
          alt="Galaxy logo"
          loading="lazy"
        />
        <span class="font-['Verdana'] font-bold text-white">Australia</span>
      </a>
    </nav>
  }
  <div class="h-full">
    <router-outlet />
  </div>
</div>
