<app-user-list
  [title]="title"
  [defaultQueryParams]="defaultQueryParams"
  [returnUrl]="'/unverified-users'"
>
  <div class="text-sm text-gray-500">
    Email verification status can take time to sync from Auth0 to our database -
    try
    <button
      class="text-biocommons-primary underline hover:text-sky-900"
      (click)="refreshPage()"
      id="refresh-page-button"
    >
      refreshing this page
    </button>
    after a minute or two to check for updates.
  </div>
</app-user-list>
