<app-user-list
  [title]="title"
  [defaultQueryParams]="defaultQueryParams"
  [returnUrl]="'/unverified-users'"
  [hasTitleMessage]="true"
  [showSignedUpColumn]="true"
>
  <div class="text-sm text-gray-700">
    Email verification status can take time to sync from Auth0 to our database.
    <br />
    Try
    <button
      class="text-sky-600 transition-all hover:text-biocommons-primary hover:underline"
      (click)="refreshPage()"
      id="refresh-page-button"
    >
      refreshing this page
    </button>
    after a minute or two to check for updates.
  </div>
</app-user-list>
