<div
  class="flex min-h-full flex-col items-center justify-center bg-white md:bg-gray-50"
>
  <!-- Header -->
  <div class="flex w-full items-center justify-center bg-bpa-primary p-12">
    <a href="https://aaidemo.bioplatforms.com/">
      <img
        src="https://data.bioplatforms.com/BIO-RGB_Full-NEG_Portal_TRANS2_small.webp"
        class="h-20 w-auto"
        alt="Bioplatforms Australia Data Portal Logo"
      />
    </a>
  </div>

  <!-- Body -->
  <div
    class="flex h-full max-w-6xl flex-1 flex-col rounded-md bg-white p-12 md:m-12 md:mb-12 md:shadow-xl lg:m-24"
  >
    <div class="mb-12 text-center text-3xl font-semibold">Register</div>
    <div class="flex flex-col md:flex-row">
      <div
        class="flex w-full flex-col gap-6 border-b pb-12 md:w-1/2 md:border-b-0 md:border-r md:pb-0 md:pr-12"
      >
        <div class="mb-6 text-2xl font-medium text-gray-800">
          Bioplatforms Australia Account
        </div>
        <button
          [routerLink]="['standard-account']"
          type="button"
          class="w-fit rounded-md border border-blue-900 bg-transparent px-4 py-2 text-sm font-medium text-blue-900 hover:cursor-pointer hover:border-blue-950 hover:bg-gray-50"
        >
          Continue
        </button>
      </div>
      <div class="flex w-full flex-col gap-6 pt-12 md:w-1/2 md:pl-12 md:pt-0">
        <div class="text-2xl font-medium text-gray-800">BioCommons Account</div>
        <ul class="ml-6 list-disc text-gray-500">
          <li>
            Enable a single sign on (SSO) access to Galaxy and BioCommons
            digital infrastructure
          </li>
          <li>Seamless data repository integration experience</li>
          <li>A self-service dashboard application</li>
        </ul>
        <button
          type="button"
          class="w-fit rounded-md bg-blue-900 px-4 py-2 text-sm font-medium text-white hover:cursor-pointer hover:bg-blue-950"
        >
          Continue
        </button>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div
    class="flex w-full items-center justify-center gap-12 bg-bpa-secondary p-12"
  >
    <a href="https://www.bioplatforms.com/">
      <img
        src="https://data.bioplatforms.com/BIO-RGB_Large-NEGTRANS_small.webp"
        alt="Bioplatforms Australia Logo"
        class="h-20 w-auto"
      />
    </a>
    <a
      href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris"
    >
      <img
        src="https://data.bioplatforms.com/ncris-footer.webp"
        alt="NCRIS Logo"
        class="h-20 w-auto"
      />
    </a>
  </div>
</div>
