<div class="flex h-full w-full flex-col">
  <!-- Navbar -->
  <app-registration-navbar></app-registration-navbar>

  @if (errorAlert()) {
    <app-alert
      type="error"
      [message]="errorAlert()!"
      [dismissible]="true"
      (dismissed)="errorAlert.set(null)"
    >
    </app-alert>
  }

  <!-- Registration Page -->
  @if (!isRegistrationComplete()) {
    <div
      class="flex w-full flex-1 flex-col items-center justify-start bg-gray-50"
    >
      <!-- Progress Bar -->
      <div class="sticky top-0 z-30 w-full bg-white shadow">
        <div class="mx-auto max-w-4xl px-6 pb-4 pt-6">
          <div class="flex items-start justify-between">
            @for (section of sections; track section.id; let index = $index) {
              @let active = isSectionActive(section.id);
              @let completed = isSectionCompleted(section.id);
              @let visited = isSectionVisited(section.id);
              @let valid = isSectionValid(section.id);
              @let last = section.id === "terms";

              <div class="group relative flex flex-1 flex-col items-center">
                <div class="flex w-full items-center">
                  <!-- Circle Indicator -->
                  <div class="flex w-full justify-center">
                    <a
                      [href]="'#' + section.id"
                      class="cursor-pointer"
                      (click)="scrollToSection($event, section.id)"
                    >
                      <div
                        class="relative z-10 flex h-8 w-8 flex-shrink-0 items-center justify-center rounded-full border-2 transition-all"
                        [ngClass]="{
                          'border-gray-300': !visited,
                          'border-biocommons-primary group-hover:border-sky-900':
                            active || ((visited || completed) && valid),
                          'border-red-600 group-hover:border-red-700':
                            !active && !valid && (completed || visited),
                          'bg-biocommons-primary group-hover:bg-sky-900':
                            (completed && valid) || (last && active && valid),
                          'bg-red-600 group-hover:bg-red-700':
                            completed && !valid,
                          'bg-white hover:bg-gray-100':
                            !completed && !(last && active && valid),
                        }"
                      >
                        @if (last && active && !valid) {
                          <div
                            class="h-2 w-2 rounded-full bg-biocommons-primary"
                          ></div>
                        } @else if (last && active && valid) {
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="z-10 size-5 text-white"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        } @else if (active) {
                          <div
                            class="h-2 w-2 rounded-full bg-biocommons-primary"
                          ></div>
                        } @else if (completed && valid) {
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="size-5 text-white"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        } @else if (completed && !valid) {
                          <span class="text-white">!</span>
                        } @else if (visited && valid) {
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="size-5 text-biocommons-primary"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        } @else if (visited && !valid) {
                          <span class="text-red-600">!</span>
                        }
                      </div>
                    </a>
                  </div>

                  <!-- Connecting line -->
                  @if (index < sections.length - 1) {
                    <div
                      class="absolute left-1/2 top-4 h-0.5 w-full transition-all"
                      [class.bg-biocommons-primary]="completed"
                      [class.bg-gray-300]="!completed"
                    ></div>
                  }
                </div>

                <!-- Label -->
                <a
                  [href]="'#' + section.id"
                  class="mt-2 cursor-pointer text-center text-sm font-medium transition-all"
                  [class.text-biocommons-primary]="
                    activeSection() === section.id || completed
                  "
                  [class.text-gray-900]="
                    activeSection() !== section.id && !completed
                  "
                  (click)="scrollToSection($event, section.id)"
                >
                  <span class="hidden sm:inline">{{ section.label }}</span>
                  <span class="inline sm:hidden">
                    {{ section.mobileLabel }}
                  </span>
                </a>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="w-full p-12 sm:px-24">
        <!-- Main Content -->
        <div class="mx-auto flex max-w-6xl flex-1 flex-col gap-24">
          <!-- Introduction Section -->
          <div id="introduction" class="flex scroll-mt-24 flex-col gap-6">
            <h1 class="text-left text-3xl font-semibold text-gray-900">
              My BioCommons Access
            </h1>
            <p class="text-left font-light text-gray-600">
              My BioCommons Access The BioCommons Access account provides
              researchers with a single, secure login to use national life
              science platforms such as Galaxy Australia and the Bioplatforms
              Data Portal.
              <br /><br />
              With this account, you can instantly access open data, tools, and
              workflows that support bioinformatics research across Australia.
              It simplifies access by connecting multiple services under one
              trusted identity, making it easier to move between platforms and
              collaborate with others in the research community. <br /><br />
              The BioCommons Access account is designed to give researchers
              seamless entry to shared digital resources, helping you focus on
              your science rather than managing multiple logins or
              registrations.
            </p>
          </div>

          <!-- Your Details Section -->
          <form
            id="your-details"
            [formGroup]="registrationForm"
            class="flex scroll-mt-24 flex-col gap-6"
          >
            <h2 class="text-3xl font-semibold text-gray-900">Your details</h2>
            <p class="font-light text-gray-600">
              To create your BioCommons Access account, simply provide your full
              name, email address, and password. This single account enables you
              to securely log in to both Galaxy Australia and the Bioplatforms
              Data Portal, granting you immediate access to open data and
              research tools across these interconnected platforms.
            </p>

            <!-- Registration form fields -->
            <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
              <div class="relative">
                <label
                  for="firstName"
                  class="block text-sm font-medium text-gray-900"
                >
                  First Name <span class="text-red-500">*</span>
                </label>
                <input
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  placeholder="John"
                  class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-100"
                  [class.border-red-500]="isFieldInvalid('firstName')"
                />
                @if (isFieldInvalid("firstName")) {
                  <div class="mt-0.5 text-xs text-red-500">
                    @for (error of getErrorMessages("firstName"); track error) {
                      {{ error }}<br />
                    }
                  </div>
                }
              </div>

              <div class="relative">
                <label
                  for="lastName"
                  class="block text-sm font-medium text-gray-900"
                >
                  Last Name <span class="text-red-500">*</span>
                </label>
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  placeholder="Doe"
                  class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-100"
                  [class.border-red-500]="isFieldInvalid('lastName')"
                />
                @if (isFieldInvalid("lastName")) {
                  <div class="mt-0.5 text-xs text-red-500">
                    @for (error of getErrorMessages("lastName"); track error) {
                      {{ error }}<br />
                    }
                  </div>
                }
              </div>
            </div>

            <div class="relative">
              <label
                for="email"
                class="block text-sm font-medium text-gray-900"
              >
                Email Address <span class="text-red-500">*</span>
              </label>
              <input
                type="email"
                id="email"
                formControlName="email"
                placeholder="john.doe@example.com"
                class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-100"
                [class.border-red-500]="isFieldInvalid('email')"
              />
              @if (isFieldInvalid("email")) {
                <div class="mt-0.5 text-xs text-red-500">
                  @for (error of getErrorMessages("email"); track error) {
                    {{ error }}<br />
                  }
                </div>
              }
            </div>

            <div class="relative">
              <label
                for="username"
                class="block text-sm font-medium text-gray-900"
              >
                Username <span class="text-red-500">*</span>
              </label>
              <input
                type="text"
                id="username"
                formControlName="username"
                placeholder="johndoe"
                class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-100"
                [class.border-red-500]="isFieldInvalid('username')"
              />
              @if (isFieldInvalid("username")) {
                <div class="mt-0.5 text-xs text-red-500">
                  @for (error of getErrorMessages("username"); track error) {
                    {{ error }}<br />
                  }
                </div>
              }
            </div>

            <div class="relative">
              <label
                for="password"
                class="block text-sm font-medium text-gray-900"
              >
                Password <span class="text-red-500">*</span>
              </label>
              <input
                type="password"
                id="password"
                formControlName="password"
                placeholder="••••••••"
                class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-100"
                [class.border-red-500]="isFieldInvalid('password')"
              />
              <div class="mt-1 text-xs text-gray-500">
                Passwords must be 8 to 72 characters long, contain at least one
                uppercase letter, one lowercase letter, one number, one special
                character.
              </div>
              @if (isFieldInvalid("password")) {
                <div class="mt-0.5 text-xs text-red-500">
                  @for (error of getErrorMessages("password"); track error) {
                    {{ error }}<br />
                  }
                </div>
              }
            </div>

            <div class="relative">
              <label
                for="confirmPassword"
                class="block text-sm font-medium text-gray-900"
              >
                Confirm Password <span class="text-red-500">*</span>
              </label>
              <input
                type="password"
                id="confirmPassword"
                formControlName="confirmPassword"
                placeholder="••••••••"
                class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-100"
                [class.border-red-500]="isFieldInvalid('confirmPassword')"
              />
              @if (isFieldInvalid("confirmPassword")) {
                <div class="mt-0.5 text-xs text-red-500">
                  @for (
                    error of getErrorMessages("confirmPassword");
                    track error
                  ) {
                    {{ error }}<br />
                  }
                </div>
              }
            </div>
          </form>

          <!-- Bundle Selection Section -->
          <div id="add-bundle" class="flex scroll-mt-24 flex-col gap-6">
            <h2 class="text-left text-3xl font-semibold text-gray-900">
              Add a bundle (Optional)
            </h2>
            <p class="text-left font-light text-gray-600">
              Request access to a bundle you need for your research
            </p>
            <div class="flex flex-wrap items-stretch justify-center gap-6">
              <!-- Bundle selection cards -->
              @for (bundle of bundles; track bundle.id) {
                <div
                  tabindex="0"
                  class="flex min-h-96 min-w-96 max-w-96 flex-1 flex-col justify-between gap-12 rounded-xl border bg-white p-12 shadow-md transition-all"
                  [ngClass]="{
                    'cursor-pointer hover:-translate-y-0.5 hover:shadow-lg':
                      !bundle.disabled,
                    'cursor-not-allowed opacity-50': bundle.disabled,
                    group: !bundle.disabled,
                    'ring-2 ring-sky-400':
                      registrationForm.get('bundle')?.value === bundle.id,
                  }"
                  (click)="toggleBundle(bundle.id)"
                  (keyup.enter)="toggleBundle(bundle.id)"
                >
                  <!-- Bundle content -->
                  <div class="flex flex-col gap-6">
                    <div class="flex items-start justify-between">
                      <div class="flex gap-6">
                        @for (logo of bundle.logoUrls; track logo) {
                          <img
                            [src]="logo"
                            [alt]="bundle.name + ' logo'"
                            class="h-16 w-auto"
                          />
                        }
                      </div>
                      <div
                        class="flex h-7 w-7 items-center justify-center rounded-lg border p-1 transition-all"
                        [ngClass]="
                          registrationForm.get('bundle')?.value === bundle.id
                            ? 'border-biocommons-primary bg-biocommons-primary'
                            : 'border-gray-300'
                        "
                      >
                        @if (
                          registrationForm.get("bundle")?.value === bundle.id
                        ) {
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            class="size-6 text-white"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="m4.5 12.75 6 6 9-13.5"
                            />
                          </svg>
                        }
                      </div>
                      <input
                        type="checkbox"
                        [checked]="
                          registrationForm.get('bundle')?.value === bundle.id
                        "
                        class="sr-only"
                      />
                    </div>
                    <div class="text-3xl font-semibold">{{ bundle.name }}</div>
                    @if (bundle.listItems.length) {
                      <div class="text-sm/6 font-light text-gray-600">
                        @for (item of bundle.listItems; track item) {
                          <div
                            class="flex items-start gap-4 py-1 first:pt-0 last:pb-0"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="mt-1 size-5 min-h-5 min-w-5 text-sky-600"
                            >
                              <path
                                d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"
                              />
                            </svg>
                            <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
                            <div
                              [innerHTML]="item"
                              (click)="onBundleItemClick($event)"
                            ></div>
                          </div>
                        }
                      </div>
                    }
                  </div>
                </div>
              }
            </div>
          </div>

          <!-- Terms & Conditions Section -->
          <div id="terms" class="flex scroll-mt-24 flex-col gap-6">
            <h2 class="text-3xl font-semibold text-gray-900">
              BioCommons Access terms & conditions
            </h2>
            <p class="font-light text-gray-600">
              You must accept the terms & conditions before you proceed.
            </p>
            <div
              tabindex="0"
              class="flex cursor-pointer items-center justify-between gap-12 rounded-md bg-white p-6 shadow-md ring-2 transition-all hover:-translate-y-0.5 hover:shadow-lg"
              [class.ring-transparent]="
                registrationForm.get('terms')?.value !==
                (!registrationForm.get('terms')?.invalid ||
                  !registrationForm.get('terms')?.touched)
              "
              [class.ring-red-500]="
                registrationForm.get('terms')?.value !== true &&
                registrationForm.get('terms')?.invalid &&
                registrationForm.get('terms')?.touched
              "
              [class.ring-sky-400]="
                registrationForm.get('terms')?.value === true
              "
              (click)="toggleTermsAcceptance()"
              (keyup.enter)="toggleTermsAcceptance()"
            >
              <a
                href=""
                target="_blank"
                class="flex items-center gap-2 font-medium text-biocommons-primary hover:text-sky-900 hover:underline"
                (click)="$event.stopPropagation()"
              >
                BioCommons Access terms & conditions
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-4 min-h-4 min-w-4"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                  />
                </svg>
              </a>
              <input
                type="checkbox"
                [formControl]="registrationForm.controls.terms"
                class="pointer-events-none h-4 w-4 accent-biocommons-primary"
              />
            </div>

            @if (
              registrationForm.get("terms")?.invalid &&
              registrationForm.get("terms")?.touched
            ) {
              <div class="text-sm text-red-500">
                Please accept the terms & conditions to continue
              </div>
            }
          </div>

          <!-- reCAPTCHA -->

          <div class="flex flex-col items-center justify-center gap-6">
            <div class="flex flex-col items-center gap-0.5">
              <re-captcha
                (resolved)="resolved($event)"
                siteKey="{{ recaptchaSiteKeyV2 }}"
              ></re-captcha>
              @if (!recaptchaToken() && recaptchaAttempted()) {
                <div class="text-xs text-red-500">
                  Please complete the reCAPTCHA verification
                </div>
              }
            </div>

            <!-- Submit Button -->
            <app-button
              type="submit"
              variant="primary"
              (click)="submitRegistration()"
              [loading]="isSubmitting()"
            >
              Submit
            </app-button>
          </div>
        </div>
      </div>
    </div>
  }

  <!-- Success Page -->
  @else {
    <div
      class="flex flex-1 flex-col justify-center gap-12 bg-gray-50 text-center"
    >
      <div class="text-4xl font-semibold sm:text-5xl lg:text-7xl">
        Thank you
      </div>
      <div class="verification-message font-light text-gray-600">
        @if (registrationEmail()) {
          <ng-container>
            We've sent a verification email to
            <span class="font-semibold text-gray-950">{{
              registrationEmail()
            }}</span
            >. Please open that email and click the link inside to finish
            setting up your account and log in.
          </ng-container>
        } @else {
          <ng-container>
            We've sent a verification email to the email address you provided.
            Please open that email and click the link inside to finish setting
            up your account and log in.
          </ng-container>
        }
      </div>
      <div class="text-center">
        <app-button
          type="button"
          variant="primary"
          widthClass="w-auto"
          (click)="getFinalPageButton().action()"
        >
          {{ getFinalPageButton().text }}
        </app-button>
      </div>
    </div>
  }
</div>
