<div class="flex flex-1 flex-col items-center justify-center">
  @if (errorAlert()) {
    <app-alert
      type="error"
      [message]="errorAlert()!"
      [dismissible]="true"
      (dismissed)="errorAlert.set(null)"
    >
    </app-alert>
  }

  <div
    class="mb-0 flex max-w-6xl flex-col rounded-md bg-white p-12 md:m-12 md:mb-12 md:flex-row md:shadow-xl lg:m-24"
  >
    <div
      class="w-full border-b pb-12 text-gray-500 md:w-2/5 md:border-b-0 md:border-r md:pb-0 md:pr-12"
    >
      Please register for the Bioplatforms Australia Data Portal by completing
      the form.<br /><br />

      Please provide your name, email, a username to use, a password, and the
      reason for your request.<br /><br />

      All metadata describing the sequence data is available once you are
      registered, as are non-embargoed sequence files.<br /><br />

      Once registered, you will have access to the publicly available portion of
      the datasets for the initiative you selected.<br /><br />

      You can request membership of projects of interest to obtain access to
      restricted sequence files (projects currently under embargo).<br /><br />

      Please contact
      <span class="text-blue-600 hover:text-blue-700">
        <a href="mailto:help@bioplatforms.com"> help&#64;bioplatforms.com </a>
      </span>
      with details of your username, the embargo section you would like access
      to and confirmation of eligibility (reason for access and link to the lead
      project team).<br /><br />

      If the project you are interested in does not appear on this page, visit
      the Memberships page once logged in to request access.<br /><br />
    </div>
    <div class="flex w-full flex-col gap-6 pt-12 md:w-3/5 md:pl-12 md:pt-0">
      <div class="mb-6 text-3xl font-semibold">Register for an Account</div>
      <form
        [formGroup]="registrationForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col gap-6"
      >
        <div class="w-full">
          <label for="username" class="block text-sm font-medium">
            Username
            <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="username"
            formControlName="username"
            placeholder="username"
            class="mt-1 block w-full rounded-md border bg-white px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-100"
            [class.border-red-500]="isFieldInvalid('username')"
          />
          @if (isFieldInvalid("username")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("username"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>
        <div class="w-full">
          <label for="fullname" class="block text-sm font-medium">
            Full Name
            <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="fullname"
            formControlName="fullname"
            placeholder="Joe Bloggs"
            class="mt-1 block w-full rounded-md border bg-white px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-100"
            [class.border-red-500]="isFieldInvalid('fullname')"
          />
          @if (isFieldInvalid("fullname")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("fullname"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>

        <div class="w-full">
          <label for="email" class="block text-sm font-medium">
            Email
            <span class="text-red-500">*</span>
          </label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="joe@example.com"
            class="mt-1 block w-full rounded-md border bg-white px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-100"
            [class.border-red-500]="isFieldInvalid('email')"
          />
          @if (isFieldInvalid("email")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("email"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>
        <div class="w-full">
          <label for="reason" class="block text-sm font-medium">
            Reason for Request
            <span class="text-red-500">*</span>
          </label>
          <textarea
            id="reason"
            formControlName="reason"
            rows="4"
            placeholder="Please provide a brief outline of your interest in the project data"
            class="mt-1 block w-full rounded-md border bg-white px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-100"
            [class.border-red-500]="isFieldInvalid('reason')"
          ></textarea>
          @if (isFieldInvalid("reason")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("reason"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>

        <div class="w-full">
          <label for="password" class="block text-sm font-medium">
            Password
            <span class="text-red-500">*</span>
          </label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Password"
            class="mt-1 block w-full rounded-md border bg-white px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-100"
            [class.border-red-500]="isFieldInvalid('password')"
          />
          <div class="mb-2 mt-1 text-xs text-gray-500">
            Passwords must be at least 8 characters in length and contain at
            least one uppercase letter, one lowercase letter, one number, and
            one special character.
          </div>
          @if (isFieldInvalid("password")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("password"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>

        <div class="w-full">
          <label for="confirm-password" class="block text-sm font-medium">
            Confirm Password
            <span class="text-red-500">*</span>
          </label>
          <input
            type="password"
            id="confirm-password"
            formControlName="confirmPassword"
            placeholder="Password"
            class="mt-1 block w-full rounded-md border bg-white px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-100"
            [class.border-red-500]="isFieldInvalid('confirmPassword')"
          />
          @if (isFieldInvalid("confirmPassword")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("confirmPassword"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>
        <div
          class="mt-6 flex w-full flex-col items-center justify-center gap-12"
        >
          <div class="text-sm font-medium">
            <span class="text-red-500">*</span>
            Required fields
          </div>
          <div class="flex flex-col items-center gap-0.5">
            <re-captcha
              (resolved)="resolved($event)"
              siteKey="{{ recaptchaSiteKeyV2 }}"
            ></re-captcha>
            @if (!recaptchaToken() && recaptchaAttempted()) {
              <div class="text-xs text-red-500">
                Please complete the reCAPTCHA verification
              </div>
            }
          </div>
          <div class="flex w-full justify-between gap-6">
            <app-button
              type="button"
              variant="secondary"
              colorClasses="text-blue-900 focus-visible:ring-blue-900"
              [routerLink]="['../']"
            >
              Back
            </app-button>
            <app-button
              type="submit"
              variant="primary"
              colorClasses="bg-blue-900 hover:bg-blue-950 focus-visible:ring-blue-900"
              [loading]="isSubmitting()"
            >
              Register
            </app-button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Scroll to top button -->
  <div class="pointer-events-none sticky bottom-0 z-10 w-screen">
    <div class="flex w-full justify-end pb-6 pr-6 2xl:pb-12 2xl:pr-12">
      <button
        (click)="scrollToTop()"
        class="pointer-events-auto flex h-12 w-12 items-center justify-center rounded-full border bg-gray-50 hover:bg-gray-100 md:border-blue-900 md:bg-blue-900 md:text-white md:hover:border-blue-950 md:hover:bg-blue-950 lg:border-bpa-primary lg:bg-white lg:text-bpa-primary lg:hover:bg-gray-50"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.5 15.75 7.5-7.5 7.5 7.5"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
