<div class="flex h-full w-full flex-col">
  <div class="border-b border-gray-100 px-6 py-6 sm:px-12">
    <div
      class="flex flex-col gap-4 lg:flex-row lg:items-center lg:justify-between"
    >
      <a href="https://aaiportal.test.biocommons.org.au/">
        <img
          src="https://images.squarespace-cdn.com/content/5d3a4213cf4f5b00014ea1db/1689141619044-F67XDPQLP4PG6KY862VA/Australian-Biocommons-Logo-Horizontal-RGB.png?format=1500w&content-type=image%2Fpng"
          class="h-16 min-w-44"
          alt="Australian Biocommons Logo"
        />
      </a>
      <div
        class="flex flex-1 items-center justify-center text-2xl font-semibold text-gray-900"
      >
        Create an account
      </div>
      <div
        class="flex flex-wrap justify-end gap-6 text-sm text-biocommons-primary sm:gap-12 sm:text-base [&>a:hover]:text-sky-900"
      >
        <a href="https://www.biocommons.org.au/about">About</a>
        <a href="https://www.biocommons.org.au/">FAQ</a>
        <a href="https://www.biocommons.org.au/contact-form">Contact us</a>
      </div>
    </div>
  </div>

  <div
    class="flex w-full flex-1 flex-col items-center justify-start bg-gray-100 p-12"
  >
    <div class="flex w-full max-w-7xl flex-col gap-6">
      @if (errorAlert()) {
        <app-alert
          type="error"
          [message]="errorAlert()!"
          [dismissible]="true"
          (dismissed)="errorAlert.set(null)"
        >
        </app-alert>
      }

      <form
        [formGroup]="registrationForm"
        (ngSubmit)="onSubmit()"
        class="flex w-full flex-col gap-6"
      >
        <h1 class="text-3xl font-semibold text-gray-900">Your details</h1>
        <p class="font-light text-gray-900">
          Australian BioCommons access enables a streamlined approach to
          accessing the Structural Biology Platform.
        </p>

        <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
          <div class="relative">
            <label
              for="firstName"
              class="block text-sm font-medium text-gray-900"
            >
              First Name <span class="text-red-500">*</span>
            </label>
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              placeholder="John"
              class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-400"
              [class.border-red-500]="isFieldInvalid('firstName')"
            />
            @if (isFieldInvalid("firstName")) {
              <div class="mt-0.5 text-xs text-red-500">
                @for (error of getErrorMessages("firstName"); track error) {
                  {{ error }}<br />
                }
              </div>
            }
          </div>

          <div class="relative">
            <label
              for="lastName"
              class="block text-sm font-medium text-gray-900"
            >
              Last Name <span class="text-red-500">*</span>
            </label>
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              placeholder="Doe"
              class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-400"
              [class.border-red-500]="isFieldInvalid('lastName')"
            />
            @if (isFieldInvalid("lastName")) {
              <div class="mt-0.5 text-xs text-red-500">
                @for (error of getErrorMessages("lastName"); track error) {
                  {{ error }}<br />
                }
              </div>
            }
          </div>
        </div>

        <div class="relative">
          <label for="email" class="block text-sm font-medium text-gray-900">
            Email Address <span class="text-red-500">*</span>
          </label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="john.doe@example.com"
            class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-400"
            [class.border-red-500]="isFieldInvalid('email')"
          />
          @if (isFieldInvalid("email")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("email"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>

        <div class="relative">
          <label for="username" class="block text-sm font-medium text-gray-900">
            Username <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="username"
            formControlName="username"
            placeholder="johndoe"
            class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-400"
            [class.border-red-500]="isFieldInvalid('username')"
          />
          @if (isFieldInvalid("username")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("username"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>

        <div class="relative">
          <label for="reason" class="block text-sm font-medium text-gray-900">
            Reason for Request <span class="text-red-500">*</span>
          </label>
          <textarea
            id="reason"
            formControlName="reason"
            rows="4"
            placeholder="Please provide a brief outline of your interest in accessing the Structural Biology Platform"
            class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-400"
            [class.border-red-500]="isFieldInvalid('reason')"
          ></textarea>
          @if (isFieldInvalid("reason")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("reason"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>

        <div class="relative">
          <label for="password" class="block text-sm font-medium text-gray-900">
            Password <span class="text-red-500">*</span>
          </label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="••••••••"
            class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-400"
            [class.border-red-500]="isFieldInvalid('password')"
          />
          @if (isFieldInvalid("password")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("password"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>

        <div class="relative">
          <label
            for="confirmPassword"
            class="block text-sm font-medium text-gray-900"
          >
            Confirm Password <span class="text-red-500">*</span>
          </label>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            placeholder="••••••••"
            class="mt-1 block w-full rounded-md border p-3 text-sm focus:outline-none focus:ring-2 focus:ring-sky-400"
            [class.border-red-500]="isFieldInvalid('confirmPassword')"
          />
          @if (isFieldInvalid("confirmPassword")) {
            <div class="mt-0.5 text-xs text-red-500">
              @for (error of getErrorMessages("confirmPassword"); track error) {
                {{ error }}<br />
              }
            </div>
          }
        </div>

        <div class="my-6 flex flex-col items-center gap-0.5">
          <re-captcha
            (resolved)="resolved($event)"
            siteKey="{{ recaptchaSiteKeyV2 }}"
          ></re-captcha>
          @if (!recaptchaToken() && recaptchaAttempted()) {
            <div class="text-xs text-red-500">
              Please complete the reCAPTCHA verification
            </div>
          }
        </div>

        <div class="flex justify-end">
          <app-button type="submit" variant="primary" [loading]="isSubmitting()">
            Register
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
