<div
  class="flex h-full min-h-screen flex-1 flex-col items-center justify-center bg-gray-50 p-12"
>
  <div
    class="flex min-h-96 min-w-96 max-w-lg flex-col items-center justify-center gap-6 rounded-md bg-white px-16 py-24 text-center shadow-lg"
  >
    @if (emailVerified()) {
      <ng-icon
        name="heroCheckCircle"
        size="112"
        class="text-green-600"
        strokeWidth="0.5"
      ></ng-icon>

      <h1 class="text-3xl font-medium text-gray-900">Email Verified</h1>
      <p class="text text-gray-500">
        Your email has been successfully verified.<br />
        You can now log in.
      </p>
      <app-button type="button" variant="primary" (click)="navigateToProfile()">
        Continue
      </app-button>
    } @else {
      <ng-icon
        name="heroXCircle"
        size="112"
        class="text-red-600"
        strokeWidth="0.5"
      ></ng-icon>
      <h1 class="text-3xl font-medium text-gray-900">
        Email verification error
      </h1>
      <div class="text-gray-500">
        Your email could not be verified.<br />
        Please try again.<br /><br />
        @if (errorMessage()) {
          <span class="text-red-600">Error details: {{ errorMessage() }}</span>
        }
      </div>
    }
  </div>
</div>
