<nav class="flex flex-1 flex-col bg-white">
  <div class="flex items-center justify-between bg-white p-6 lg:px-12">
    <button type="button" class="text-sky-500 hover:cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-8"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>
    <a
      routerLink="/"
      class="cursor-pointer text-3xl font-semibold text-gray-900 transition-all hover:text-gray-950"
    >
      {{ isAdmin() ? "Admin Dashboard" : "User Dashboard" }}
    </a>
    <div class="relative">
      <button
        type="button"
        class="focus:outline-hidden relative flex h-10 w-10 items-center justify-center rounded-full bg-gray-200 text-sm hover:cursor-pointer focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-sky-200"
        id="user-menu-button"
        aria-expanded="false"
        aria-haspopup="true"
        (click)="toggleUserMenu()"
        #userMenuButton
      >
        <span class="absolute -inset-1.5"></span>
        <span class="sr-only">Open user menu</span>
        @if (user()?.picture) {
          <img
            class="h-10 w-10 rounded-full"
            [src]="user()!.picture"
            alt="User"
          />
        }
      </button>
      @if (userMenuOpen()) {
        <div
          class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white shadow focus:outline-none"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="user-menu-button"
          tabindex="-1"
          #menu
        >
          <div
            class="block rounded-md px-4 py-3 text-sm text-gray-700 hover:cursor-pointer hover:bg-gray-100"
            role="menuitem"
            tabindex="-1"
            id="user-menu-item-2"
            (click)="logout()"
            (keyup.enter)="logout()"
          >
            Log out
          </div>
        </div>
      }
    </div>
  </div>

  @if (isNavigationPage()) {
    <div
      class="mx-auto mb-8 flex flex-1 items-center justify-center overflow-hidden rounded-lg border bg-white"
    >
      @if (!adminStatusLoading()) {
        @for (page of navigationPages(); track page.route; let last = $last) {
          <a
            [routerLink]="page.route"
            routerLinkActive="border-b-sky-500 text-gray-900"
            class="flex min-w-48 items-center justify-center gap-2 border-y-4 border-y-transparent py-2.5 text-gray-600 transition-all hover:bg-gray-50"
          >
            {{ page.label }}
            @if (
              (!isAdmin() && page.label === "Pending" && pendingCount() > 0) ||
              (isAdmin() && page.label === "Requests" && pendingCount() > 0)
            ) {
              <span
                class="min-h-6 min-w-6 rounded-full bg-red-500 px-2 py-1 text-center text-xs font-medium text-white"
              >
                {{ pendingCount() }}
              </span>
            }
          </a>

          @if (!last) {
            <div class="w-px flex-1 self-stretch bg-gray-200"></div>
          }
        }
      }
    </div>
  }
</nav>
