<div
  class="mx-auto flex h-full min-h-full max-w-6xl flex-1 flex-col items-center justify-center gap-12 px-12 text-center"
>
  <div class="text-4xl font-semibold text-gray-900 sm:text-5xl lg:text-6xl">
    Thank you for registering with the Bioplatforms Australia Data Portal
  </div>
  <div class="text-gray-500">
    Registration successful. Please check your email and verify your email
    address.
  </div>
  <app-button
    type="button"
    variant="primary"
    widthClass="w-auto"
    colorClasses="bg-blue-900 hover:bg-blue-950 focus-visible:ring-blue-900"
    (click)="navigateToBPA()"
  >
    Return to Bioplatforms Australia Data Portal
  </app-button>
</div>
