<div class="flex min-h-full flex-col items-center justify-center bg-white">
  <div class="flex w-full items-center justify-center bg-bpa-primary p-12">
    <a href="https://aaidemo.bioplatforms.com/">
      <img
        src="https://data.bioplatforms.com/BIO-RGB_Full-NEG_Portal_TRANS2_small.webp"
        class="h-20 w-auto"
        alt="Bioplatforms Australia Data Portal Logo"
      />
    </a>
  </div>

  <div
    class="flex h-full max-w-6xl flex-1 flex-col items-center justify-center gap-12 px-12 text-center sm:px-24"
  >
    <div class="text-4xl font-semibold sm:text-5xl lg:text-6xl">
      Thank you for registering with the Bioplatforms Australia Data Portal
    </div>
    <div class="text-gray-500">
      Registration successful. Please check your email and verify your email
      address.
    </div>
    <app-button
      type="button"
      variant="primary"
      widthClass="w-auto"
      (click)="navigateToBPA()"
    >
      Return to Bioplatforms Australia Data Portal
    </app-button>
  </div>

  <div
    class="flex w-full items-center justify-center gap-12 bg-bpa-secondary p-12"
  >
    <a href="https://www.bioplatforms.com/">
      <img
        src="https://data.bioplatforms.com/BIO-RGB_Large-NEGTRANS_small.webp"
        alt="Bioplatforms Australia Logo"
        class="h-20 w-auto"
      />
    </a>
    <a
      href="https://www.education.gov.au/national-collaborative-research-infrastructure-strategy-ncris"
    >
      <img
        src="https://data.bioplatforms.com/ncris-footer.webp"
        alt="NCRIS Logo"
        class="h-20 w-auto"
      />
    </a>
  </div>
</div>
