<div class="flex flex-col items-center justify-start min-h-screen bg-gray-50 px-4 py-12">
  @if (emailVerified) {
  <div class="flex flex-col gap-8 min-h-64 w-full max-w-lg bg-green-100 border border-green-800 rounded-2xl shadow-md p-8 text-center">
      <h1 class="text-3xl font-bold text-gray-900 mb-4">Email Verified</h1>
      <p class="text-gray-700 text-lg mb-6">
        Your email has been successfully verified. You can now log in.
      </p>
      <a href="{{ app_urls['galaxy']}}" class="bg-blue-900 text-white p-4 rounded-md">
        Go to Galaxy Australia
      </a>
      <a href="{{ app_urls['bpa']}}" class="bg-blue-900 text-white p-4 rounded-md">
        Go to BioPlatforms Australia Data Portal
      </a>
  </div>
  } @else {
  <div class="flex flex-col gap-8 min-h-64 w-full max-w-lg bg-red-100 border border-red-800 rounded-2xl shadow-md p-8 text-center">
      <h1 class="text-3xl font-bold text-gray-900 mb-4">Email verification error</h1>
      <p class="text-gray-700 text-lg mb-6">
        Your email could not be verified. Please try again.<br/><br/>

        @if (errorMessage) {
          <strong>Error details:</strong> {{ errorMessage  }}
        }
      </p>
  </div>
}
